.project-div {
    flex-grow: 1;
    padding-top: 70px;
}
.project-div h1 {
    text-align: center;
    line-height: 2;
    font-family: sans-serif;
    color: #666;
    font-weight: 800;
}
.project img {
    height: 300px;
    width: 400px;
    border-radius: 20px;
}
.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}
.project {
    padding: 10px;
    border: 2px solid #000;
    border-radius: 10 px;
    margin: 15px;
}
.project a {
    text-decoration: none;
}
.project p {
    text-align: center;
    font: 1.35rem sans-serif;
    font-weight: 800;
    color: #4169e1e6;
}
.project-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.project-text p {
    color: #666;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.project-text button {
    color: white;
    background-color: #4169e1e6;
    font-weight: 600;
    margin: 0 10px;
    padding: 5px 10px;
    border: none;
}
.project-text button:hover {
    background-color: #1449e8;
    transition-duration: 300ms;
}
@media screen and (max-width: 420px) {
    .project {
        margin: 10px 0;
        padding: 10px 0;
    }
}
@media screen and (max-width: 400px) {
    .project img {
        width: 300px;
        height: 300px;
        padding: 10px;
    }
}
@media screen and (max-width: 280px) {
    .project img {
        height: 200px;
        width: 230px;
    }
    .project {
        text-align: center;
        width: 100%;
    }
}
