.project-div {
    flex-grow: 1;
    padding-top: 70px;
}
.project-div h2 {
    text-align: center;
    line-height: 2;
    font: 2.5rem sans-serif;
    color: #666;
    font-weight: 800;
}
.project img {
    height: 300px;
    width: 100%;
    border-radius: 20px;
}
.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 30px;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}
.project {
    padding: 10px;
    border: 2px solid #000;
    border-radius: 10px;
    margin: 10px;
}
.project a {
    text-decoration: none;
}
.project p {
    text-align: center;
    font: 1.35rem sans-serif;
    font-weight: 800;
    color: #4169e1e6;
}
.project-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.project-text p {
    color: #666;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.project-text p:nth-child(1) {
    font-size: 1rem;
}
.project-text button {
    color: white;
    background-color: #4169e1e6;
    font-weight: 600;
    margin: 0 10px;
    padding: 5px 10px;
    border: none;
}
.project-text button:hover {
    background-color: #1449e8;
    transition-duration: 300ms;
}
@media screen and (max-width: 1024px) {
    .project-container {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
        gap: 20px;
    }
    .project img {
        height: 300px;
    }
}

@media screen and (max-width: 700px) {
    .project-container {
        grid-template-columns: 1fr; /* Stack all items in a single column */
        gap: 15px; /* Reduce the gap between items */
    }
    .project img {
        height: 250px; /* Adjust height for small screens */
    }
}

/* Very Small Mobile Devices */
@media screen and (max-width: 480px) {
    .project img {
        height: 200px; /* Further reduce image height */
    }
    .project-text p {
        font-size: 0.8rem; /* Slightly smaller text for very small screens */
    }
}