.project-div{
    flex-grow: 1;
}

.project-div h1{
    text-align: center;
    line-height: 4;
    font-family: sans-serif;
}

.project-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project{
    margin-bottom:20px
}

.project img{
    height: 300px;
    width: 300px;
    border-radius: 20px
}

.project a{
    text-decoration: none;
}

.project p{
    text-align: center;
    font: 1.5rem courier;
}