.skills-div{
    flex-grow: 1;
}

.skills-div h1{
    text-align: center;
    line-height: 4;
    font-family: sans-serif;
}

.skills-div img{
    height: 90px;
    width: 90px
}

.progLang-div, .frontend-div, .backend-div{
    display: flex;
    flex-wrap: wrap;
}

.progLang-div h2, 
.frontend-div h2,
.backend-div h2{
    width: 100%;
    text-align: center;
}

.img-div{
    display:flex;
    justify-content: space-around;
    width: 100%;
    margin: 5px 0px 20px 0px;
    flex-wrap: wrap;
}

/* .prog-div, .front-div, .back-div{
    margin: 0px 30px;
} */

.skills-div p{
    text-align: center
}