.skills-div {
    padding-top: 70px;
    text-align: center;
    flex-grow: 1;
}

.skills-div h2 {
    color: #666;
    margin-bottom: 20px;
    text-align: center;
    font: 2.5rem sans-serif;
    font-weight: 800;
}

.img-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 items per row on larger screens */
    gap: 20px;
    justify-items: center;
    margin-top: 20px;
}

.skill-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px; /* Rounded corners */
    background-color: #fff;
    transition: all 0.3s ease; /* Smooth transition for hover effect */
}

.skill-card img {
    width: 90px;
    height: 90px;
    margin-bottom: 10px;
}

.skill-card p {
    font-weight: 800;
    color: #333;
    margin-top: 5px;
}

/* Hover effect */
.skill-card:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 10px 25px;
}

/* Responsive grid: change items per row based on screen size */
@media (max-width: 1024px) {
    .img-div {
        grid-template-columns: repeat(3, 1fr); /* 3 items per row for medium screens */
    }
}

@media (max-width: 768px) {
    .img-div {
        grid-template-columns: repeat(2, 1fr); /* 2 items per row for smaller screens */
    }
}