.about {
    flex-grow: 1;
    padding-top: 70px;
    z-index: 2;
    background-color: white;
}
  
.about h1 {
    margin-bottom: 20px;
    text-align: center;
    line-height: 4;
    font-family: sans-serif;
    color: #32de84;
}

.about p {
    font-size: 1.3rem;
    font-family: sans-serif;
    /* text-indent: 70px; */
}

.about :nth-child(3){
    margin-top: 40px;
}

.about p a{
    text-decoration:none;
    color: blue;
}

.about p a:hover{
    color:crimson
}

@media screen and (max-width: 860px){
    .about p {
        margin: 0px 35px;
    }
}