.home{
    display: flex;
    flex-grow: 1;
    min-width: 100%;
    flex-direction: column;
    margin-top: 70px;
}

video{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    top: 0;
    left:0;
    object-fit: cover;
}

.home .title {
    z-index: 2;
    width: 100%;
    font-size: 18px;
    text-align: center;
    padding-top: 50px;
}
  
.home .title p {
    line-height: 50px;
    font-weight: 800;
/*    color: #32de84; */
    color: white;
    font-family: cursive;
}

/* .gif-div{
    display: flex;
    justify-content: center;
    z-index: 2;
}

.comp-gif{
    border-radius: 50%;
    margin-top: 30px;
    height: 14rem;
} */

@media (min-width: 915px) {
    .home {
      flex-direction: row;
      justify-content: space-between;
      height: 100vh;
    }
    .home .title {
      width: 100%;
      margin-top: 80px;
      text-align: left;
      font-size: 25px;
    }
/*     .comp-gif{
      margin-top: 80px;
      height: 50%;
    } */
}
/* @media screen and (max-width: 860px){
  .title h1{
      margin-top: 35px;
  } */