.contact-div {
    flex-grow: 1;
    text-align: center;
    padding-top: 70px;
    margin-bottom: 20px;
}
.form {
    display: flex;
}
.form-group {
    margin: 10px;
}
.form-control {
    padding: 5px;
    width: 100%;
}
.contact-div h1 {
    margin-bottom: 20px;
    text-align: center;
    line-height: 2;
    font-family: sans-serif;
    color: #666;
    font-weight: 800;
}
input,
textarea {
    font-size: 15px;
    font-family: Verdana;
}
.button {
    width: 100%;
    padding: 7px;
    outline: 0;
    border: 1px solid #4169e1;
    background-color: white;
    color: #4169e1
}
.button:hover {
    background: #4169e1;
    color: #fff;
    transition-duration: 500ms;
}
