.collapse{
  justify-content: center;
}

a.nav-link{
  font-size: 1.5rem;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px 10px;
}

a:hover{
  transform: scale(0.8);
}