.socials{
    width: 100%;
    padding: 30px 0px;
    text-decoration: none;
    margin-top: 50px
}

.socials a{
    margin: 0px 10px;
}

.socials a:nth-child(1), .socials a:nth-child(3){
    color:black;
    color: white;
}

.socials a:nth-child(2){
    color:#0077b5;
    color: white;

}

@media (max-width: 860px) {
    .socials {
        display: flex;
        justify-content: center;
    }
}