.socials{
    width: 100%;
    padding: 30px 0px;
    text-decoration: none;
    margin-top: 50px
}

.socials a{
    margin: 0px 10px;
    color: white;
}

.socials a:nth-child(1):hover, .socials a:nth-child(3):hover{
    color:black;
}

.socials a:nth-child(2):hover{
    color:#0077b5;
}

@media (max-width: 860px) {
    .socials {
        display: flex;
        justify-content: center;
    }
}